<head>
<style type="text/css">
h2 {
    font-family: Georgia; color: purple; margin: auto}
h3 {
    font-family: Georgia; color: red; margin: auto; padding: 10px}
  </style>
</head>
<body>
  <style type="text/css">
  body {
    font-family:Times New Roman; color: green; background-color:pink; margin: 1em 15%}
p {
    font-family:Times New Roman; color: green; background-color:pink ; margin: 1em 1%}
  </style>
</body>
